description "Cloudify Agent"

start on runlevel [2345]
stop on runlevel [016]

kill timeout 60
respawn
respawn limit 10 5

. {{ config_path }}

setuid ${CELERYD_GROUP}
setgid ${CELERYD_USER}

exec ${CELERY_BIN} worker \
-Ofair \
--include=${CELERYD_INCLUDES} \
--broker=${CELERY_BROKER_URL} \
--app=cloudify_agent.app.app \
--loglevel=${CELERYD_LOG_LEVEL} \
--logfile=${CELERYD_LOG_FILE} \
--pidfile=${CELERY_D_PID_FILE} \
${CELERYD_OPTS}